<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleIndex.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <title>Inicio</title>
</head>
<body>
    <script src="//code.jquery.com/jquery.min.js"></script>    
    <div id="navBarra"> </div>     
    <script>
        $(function() {
            $("#navBarra").load("/html/barra.html");
        });
    </script>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-1" style="background-color:rgb(44, 130, 161)">
            </div>
            <div class="col-10" style="background-color:rgb(221, 217, 223)">
                <br>
                <h1 style="text-align: center;"> CINEMA HOME PAGE </h1>
                <p> Cinematographers use a lens to focus reflected light from objects into a real image that is transferred to some image sensor or light-sensitive material inside a movie camera.These exposures are created sequentially and preserved for later processing and viewing as a motion picture. Capturing images with an electronic image sensor produces an electrical charge for each pixel in the image, which is electronically processed and stored in a video file for subsequent processing or display. Images captured with photographic emulsion result in a series of invisible latent images on the film stock, which are chemically "developed" into a visible image. The images on the film stock are projected for viewing the same motion picture. </p>    
                <div style="text-align: center;">
                    <iframe width="480" height="360" src="https://www.youtube.com/embed/-FRgkJWR2W8?autoplay=1&mute=1" title="Youtube video" frameborder="0" ></iframe>
                </div> 
                <p> By 1914, several national film industries were established. At this time, Europe, Russia and Scandinavia were the dominant industries; America was much less important. Films became longer and storytelling, or narrative, became the dominant form.
                    As more people paid to see movies, the industry which grew around them was prepared to invest more money in their production, distribution and exhibition, so large studios were established and dedicated cinemas built. The First World War greatly affected the film industry in Europe, and the American industry grew in relative importance.
                    The first 30 years of cinema were characterised by the growth and consolidation of an industrial base, the establishment of the narrative form, and refinement of technology.
                </p>        
            </div>
            <div class="col-1 " style="background-color:rgb(25, 142, 185);">
            </div>
        </div>
    </div>
    
</body>
</html>